/* image properties / default width 2000px / default height 327px / */
/* colors / blue #3ec0f5 / white #FFF / */

body { background-color: #FFF; margin: 0; padding:0; font-family: 'Roboto', sans-serif; }

/* RESULTS PAGE CSS CODE */

/* header bar at the top of the results page with logo, search bar and menu button */

#resultsHeader { position:fixed; top:0; left:0; width:100vw; height:50px; background-color: #3ec0f5; padding:0 margin:0; background-image: url(images/websafe/smalllogo.png); background-position: 20px; background-repeat: no-repeat; background-size: 250px; z-index:100;}

/* wrapper for the search bar and button in the header bar at the top of page */
#searchWrapper { position: relative; width:25%; top:0; height:50px; background-color:transparent; position: relative; float: right; margin-right: 20px;}

/* styling for the main search button on the results page */
#resultsSearchButton { float: right; position: relative; top:-35px; height:40px; width: 40px; background: url(images/websafe/search.png) no-repeat center; background-size: 15px; outline:none; border:none; }

/* styling for the search bar */
#resultsSearchBar { position: relative; height: 40px; top:5px; width:100%; padding:10px; border-radius: 5px; border:none; text-align:left; outline:none; font-size:14px; }

/* wrapper for the name and individual results */
#resultsWrapper { position: relative; top:50px; width:100vw; text-align:center; padding:10px; box-sizing: border-box; column-count: 3; column-gap: 10px; }

/* wrapper for the name of the topic, search term */
#resultsName { width:100%; text-align: center; margin:20px 0 20px 0; position: relative; top:50px; z-index:25;}

h5 { font-family: "PRIMETIME"; text-transform: uppercase; font-size: 48px; margin:0;color:#3ec0f5; letter-spacing: 3px;}

#articleWrapper { display:inline-block; display: inline-block; margin: 0 0 10px; width: 100%; text-align: left; color:#242424; z-index: 50;}

#article { background-color:#eee; padding:10px; box-sizing: border-box; width:100%; border-radius: 5px; z-index: 55; box-shadow: 0px 2px 4px 0 #ccc;}

p.resultsArticleName { font-family: 'Roboto', sans-serif; margin:0; font-weight: 700;}

img.resultsArticleImage { width:100%;}