body {
	margin:0;
	font-family: 'Fira Sans', sans-serif;
}

/* styles the header element where the logo, search bar and the wrapper that surrounds the logo and search bar */
header {
	width:100%;
	height:200px;
}

/* wraps the logo and search bar in a div so it can be centered in the page */
.header-wrapper {
	margin:0 auto;
	width:50%;
}

/* centers the logo in the header-wrapper div */
.logo {
	margin:50px 0 25px 0;
	text-align:center;
}

/* styles the input searchbar */
input.search-field {
	width:100%;
	font-size:18px;
	outline:none;
	border:none;
	text-align:center;
	color:#242424;
	padding:10px;
	border-radius:50px;
	border:1px solid lightgray;
}

/* styles the button for the search bar */
input.search-button {
	background-color:transparent;
	outline:none;
	border:none;
	padding:10px;
	border-radius:50px;
	position:relative;
	float:right;
	height:47px;
	width:47px;
	top:-47px;
	background-image:url(../logos/search.png);
	background-size:25px;
	background-position:center;
	background-repeat:no-repeat;
}

/* styles part of the list element (the news stories) */
li {
	box-sizing:border-box;
	border-radius:10px;
}

/* provides padding for each of the columns */
#guardian {
    width:100vw;
    column-count: 3;
    
}

/* colours the list element background for the the guardian */
#guardian li {
	background-color:#eee;
    display: inline-block;
    
}

/* styles the columns for each news source */
ul.posts { 
	list-style-type:none;
    padding:0;
}

/* styles the columns for each news source */

/* styles the links (which are the titles) of each news article */
a {
	font-size:14px;
	font-family:"Fira Sans";
	text-decoration:none;
	font-weight:600;
	color:#242424;
}

/* wraps ul elements */

.content-wrapper {
	width:100vw;
}

/* allows there to be space between the edges of the article and the link title */
.a-wrapper {
	padding:5px;
}

/* styles the images in each post */
ul.posts li img 
{
    max-width: 100%;
	border-radius:10px 10px 0 0;
}